.filter-sidebar {
    position: fixed;
    top: 20%;
    left: 0;
    width: 300px;
    height: 32%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0 10px 10px 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.filter-sidebar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-sidebar button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-sidebar button:hover {
    background-color: #c32321;
}

.filter-sidebar label {
    display: flex;
    flex-direction: column; /* Zorgt dat de tekst boven de input staat */
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.filter-sidebar input {
    margin-top: 5px; /* Geeft ruimte tussen label en input */
}

.filter-sidebar input[type="range"] {
    width: 100%;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #0c77f4;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.filter-sidebar input[type="range"]:hover {
    opacity: 1;
}

.filter-sidebar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #f4f4f5;
    border-radius: 50%;
    cursor: pointer;
}

.filter-sidebar input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    cursor: pointer;
}